@media (max-width: 567px) {
  body nav {
    display: none; }
  .signIn {
    display: none; }
  .logo {
    margin-top: 15px; } }

.formulario {
  padding: 0px 20%; }

.relleno {
  height: 300px; }

.card {
  padding: 20px;
  margin: 10px; }

.btn {
  border: 2px solid black;
  padding: 4px 20px;
  margin-right: 7px;
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 0.8em;
  background-color: #f8f5ee;
  color: black; }

.containerFrontCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

h1 {
  color: blue; }

.img_productos {
  width: 2fr; }

.img-quienes {
  background-image: url("../img/quienes.jpeg");
  background-size: cover;
  width: 1fr;
  height: 1fr; }

.contenedor-quienes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 100px; }

.contenido {
  margin: 15px;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr); }

/* CARDS @EXTEND */
button {
  border-radius: 10px;
  padding: 10px; }

img {
  width: 50px; }

.titulo {
  font-weight: bolder;
  font-size: 20px; }

.textocards {
  font-size: 15px; }

.card5 {
  grid-column-start: 2;
  grid-column-end: 4; }

@media (max-width: 50em) {
  .contenido {
    display: flex;
    flex-flow: wrap; } }

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  /* header */ }
  * a {
    text-decoration: none; }
  * a:visited {
    color: black; }
  * body {
    background-color: #f8f5ee; }
  * .container__ {
    background-image: url("../img/3.png");
    background-size: cover; }
  * header {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    * header .logo {
      padding: 0px 15px;
      font-weight: bold; }
    * header ul {
      display: flex;
      list-style: none;
      padding: 10px; }
      * header ul a {
        text-decoration: none;
        color: black; }
        * header ul a li {
          padding: 0px 5px; }
    * header .signIn {
      border: 2px solid black;
      border-radius: 20px;
      padding: 4px 20px;
      margin-right: 7px;
      font-size: 0.8em; }

/* main */
main {
  margin-left: 5%;
  margin-top: 7%; }
  main h1 {
    font-size: 4em;
    font-weight: lighter;
    line-height: 60px;
    color: black; }
  main p {
    width: 40%; }
  main button {
    border: 2px solid black;
    padding: 4px 20px;
    margin-right: 7px;
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 0.8em;
    transition: 0.4s; }
  main button:hover {
    background-color: black;
    color: white; }

/* contenido */
.articleContent {
  display: flex;
  width: 90%;
  height: 500px;
  background-color: white;
  border-radius: 5px;
  justify-content: center; }

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background-color: black; }
  footer h5 {
    color: white;
    padding-left: 4em; }
  footer p {
    color: white;
    font-size: 0.8em; }
  footer p {
    padding-right: 4em;
    margin: 10px; }

.Titulo {
  text-align: left;
  padding: 20px;
  font-size: 2em;
  text-align: center; }

.container {
  height: 100%; }
