@media (max-width: 567px){
    body{
        nav{
            display: none;
        }
    }
    .signIn{
        display: none;
    }
    .logo{
        margin-top: 15px;
    
}
header{
    align-items: end;
    background-color: aqua;
}    

}


